<div class="container-fluid mb-5">
    <form>

        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-12">
                <div class="loginheretext">
                    ENTER YOUR DETAILS
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center my-4">
            <input type="text" placeholder="Enter Your Email" formControlName="email"
                class="textinput col-lg-12 col-12 my-2">
            <input type="password" placeholder="Enter Your Password" formControlName="password"
                class="textinput col-lg-1tailer2 col-12 my-2">
        </div>
        <div class="row d-flex justify-content-center">
            <hr class="hrtag">
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-12 col-12">

                <button class="loginbtn btn btn-block">Submit</button>
            </div>
        </div>
    </form>

</div>