<div class="container-fluid">
    <div class="row my-4 d-flex justify-content-between">
        <div class="col-2">
            <app-indexsidebar></app-indexsidebar>
        </div>
        <div class="col-lg-10 col-9">
            <div class="row">
                <div class="col-lg-9 inputContainer col-12 my-2">
                    <input type="text" class="input" placeholder="Type to search">
                </div>
                <div class="col-lg-3 col-12 my-2">
                    <div class="row d-flex justify-content-around">
                        <div class="col-2 iconContainer">
                            <i class="far fa-bell"></i>
                        </div>
                        <div class="col-2 iconContainer">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="col-3 iconContainer">
                            <img class="ImageClass"
                                src="../../../assets/GLOBAL-ASSETS/Landing Page/landing Page/NoPath_-_Copy_19.png"
                                alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>