.backgroundColor {
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.loginboxBorder {
    margin: 15vh;
    border-radius: 10px;
    border: solid 2px black;
    background-color: #FFEFBA;
}

.tabText {
    color: black;
    text-align: center;
    margin: 2vh 0px;
    padding: 2vh 0px;
    font-size: 23px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}

// .tabText:focus {
//     border: none;
//     color: #5ec3c1;
// }
.active {
    border-bottom: 4px solid sandybrown;
    color: black;
}

@media only screen and (max-width: 600px) {
    .tabText {
        color: black;
        border-bottom: 4px solid sandybrown;
        text-align: center;
        margin: 2vh 0px;
        padding: 2vh 0px;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
        outline: none;
    }
}
