<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" id="close" (click)="closeNav()">&times;</a>
    <div class="row d-flex justify-centent-center">
        <i class="col-3 fas fa-home"></i>
        <div class="col-8 Itemname" id="Itemname">
            <div class="anchor" routerLink="/admin">Dashboard</div>
        </div>
    </div>
    <div class="row d-flex justify-centent-center">
        <i class="col-3 fas fa-home"></i>
        <div class="col-8 Itemname" id="Itemname">
            <div class="anchor" routerLink="/admin">Customer Request</div>
        </div>
    </div>
    <div class="row d-flex justify-centent-center">
        <i class="col-3 fas fa-home"></i>
        <div class="col-8 Itemname" id="Itemname">
            <div class="anchor" routerLink="/admin">Sample Request</div>
        </div>
    </div>
    <div class="row d-flex justify-centent-center">
        <i class="col-3 fas fa-home"></i>
        <div class="col-8 Itemname" id="Itemname">
            <div class="anchor" routerLink="/admin">Bulk Request</div>
        </div>
    </div>
    <div class="row d-flex justify-centent-center">
        <i class="col-3 fas fa-home"></i>
        <div class="col-8 Itemname" id="Itemname">
            <div class="anchor" routerLink="/addclothes">Add Clothes</div>
        </div>
    </div>
    <div class="row d-flex justify-centent-center">
        <i class="col-3 fas fa-home"></i>
        <div class="col-8 Itemname" id="Itemname">
            <div class="anchor" routerLink="/listedclothes">Listed Clothes</div>
        </div>
    </div>

</div>

<div id="main">
    <button class="openbtn" id="hamburger" (click)="openNav()">&#9776;</button>

</div>