<div class="container-fluid">
    <div class="cardContainer">
        <div class="card">
            <img src="../../../assets/Mask_Group_2.png" class="cardImage" alt="">
            <div class="cardProductName">
                Jeans
            </div>
            <div class="cardproduct">
                Fabric
            </div>
            <div class="cardproductcategory">
                Sold/Popularity
            </div>
        </div>

        <div class="card">
            <img src="../../../assets/Mask_Group_2.png" class="cardImage" alt="">
            <div class="cardProductName">
                Jeans
            </div>
            <div class="cardproduct">
                Fabric
            </div>
            <div class="cardproductcategory">
                Sold/Popularity
            </div>
        </div>


        <div class="card">
            <img src="../../../assets/Mask_Group_2.png" class="cardImage" alt="">
            <div class="cardProductName">
                Jeans
            </div>
            <div class="cardproduct">
                Fabric
            </div>
            <div class="cardproductcategory">
                Sold/Popularity
            </div>
        </div>



        <div class="card">
            <img src="../../../assets/Mask_Group_2.png" class="cardImage" alt="">
            <div class="cardProductName">
                Jeans
            </div>
            <div class="cardproduct">
                Fabric
            </div>
            <div class="cardproductcategory">
                Sold/Popularity
            </div>
        </div>



        <div class="card">
            <img src="../../../assets/Mask_Group_2.png" class="cardImage" alt="">
            <div class="cardProductName">
                Jeans
            </div>
            <div class="cardproduct">
                Fabric
            </div>
            <div class="cardproductcategory">
                Sold/Popularity
            </div>
        </div>


        <div class="card">
            <img src="../../../assets/Mask_Group_2.png" class="cardImage" alt="">
            <div class="cardProductName">
                Jeans
            </div>
            <div class="cardproduct">
                Fabric
            </div>
            <div class="cardproductcategory">
                Sold/Popularity
            </div>
        </div>

    </div>
</div>