<div class="container-fluid">
    <div class="row">
        <div class="col-2  my-4 d-flex justify-content-between">
            <app-indexsidebar></app-indexsidebar>
        </div>
        <div class="col-lg-10 col-9">
            <div class="row">
                <div class="col-lg-9 inputContainer col-12 my-2">
                    <input type="text" class="input" placeholder="Type to search">
                </div>
                <div class="col-lg-3 col-12 my-2">
                    <div class="row d-flex justify-content-around">
                        <div class="col-2 iconContainer">
                            <i class="far fa-bell"></i>
                        </div>
                        <div class="col-2 iconContainer">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="col-3 iconContainer">
                            <img class="ImageClass"
                                src="../../../assets/GLOBAL-ASSETS/Landing Page/landing Page/NoPath_-_Copy_19.png"
                                alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="row">
        <div class="col-12">
            <div class="main">
                <ul class="cards">
                    <li class="cards_item">
                        <div class="card">
                            <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div>
                            <div class="card_content">
                                <h2 class="card_title">Lorem, ipsum dolor.</h2>
                                <p class="card_text">Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem,
                                    ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum
                                    dolor.
                                </p>
                                <button class="btn card_btn">Read More</button>
                            </div>
                        </div>
                    </li>
                    <li class="cards_item">
                        <div class="card">
                            <div class="card_image"><img src="https://picsum.photos/500/300/?image=5"></div>
                            <div class="card_content">
                                <h2 class="card_title">Lorem, ipsum dolor.</h2>
                                <p class="card_text">Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem,
                                    ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum
                                    dolor.
                                </p>
                                <button class="btn card_btn">Read More</button>
                            </div>
                        </div>
                    </li>
                    <li class="cards_item">
                        <div class="card">
                            <div class="card_image"><img src="https://picsum.photos/500/300/?image=11"></div>
                            <div class="card_content">
                                <h2 class="card_title">Lorem, ipsum dolor.</h2>
                                <p class="card_text">Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem,
                                    ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum
                                    dolor.
                                </p>
                                <button class="btn card_btn">Read More</button>
                            </div>
                        </div>
                    </li>
                    <li class="cards_item">
                        <div class="card">
                            <div class="card_image"><img src="https://picsum.photos/500/300/?image=14"></div>
                            <div class="card_content">
                                <h2 class="card_title">Lorem, ipsum dolor.</h2>
                                <p class="card_text">Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem,
                                    ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum
                                    dolor.
                                </p>
                                <button class="btn card_btn">Read More</button>
                            </div>
                        </div>
                    </li>
                    <li class="cards_item">
                        <div class="card">
                            <div class="card_image"><img src="https://picsum.photos/500/300/?image=17"></div>
                            <div class="card_content">
                                <h2 class="card_title">Lorem, ipsum dolor.</h2>
                                <p class="card_text">Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem,
                                    ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum
                                    dolor.
                                </p>
                                <button class="btn card_btn">Read More</button>
                            </div>
                        </div>
                    </li>
                    <li class="cards_item">
                        <div class="card">
                            <div class="card_image"><img src="https://picsum.photos/500/300/?image=2"></div>
                            <div class="card_content">
                                <h2 class="card_title">Lorem, ipsum dolor.</h2>
                                <p class="card_text">Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem,
                                    ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum
                                    dolor.
                                </p>
                                <button class="btn card_btn">Read More</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>


        </div>
    </div>
</div>