<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" id="close" (click)="closeNav()">&times;</a>
    <div class="row d-flex justify-centent-center">
        <i class="col-2 fas fa-home"></i>
        <div class="col-9 Itemname" id="Itemname">
            <div class="anchor" routerLink="/admin/dashboard">Dashboard</div>
        </div>
    </div>
    <!-- <div class="row d-flex justify-centent-center">
        <i class="col-2 fas fa-folder-plus"></i>
        <div class="col-9 Itemname" id="Itemname">
            <div class="anchor" routerLink="/admin">Add Category</div>
        </div>
    </div> -->

    <div class="row d-flex justify-centent-center">
        <i class="col-2 fas fa-cog"></i>
        <div class="col-9 Itemname" id="Itemname">
            <div class="anchor" routerLink="/admin/category/view">Manage Category</div>
        </div>
    </div>


    <div class="row d-flex justify-centent-center">
        <i class="col-2 fas fa-shopping-cart"></i>
        <div class="col-9 Itemname" id="Itemname">
            <div class="anchor" routerLink="/admin/brand/view">Manage Brand</div>
        </div>
    </div>

    <div class="row d-flex justify-centent-center">
        <i class="col-2 fas fa-wrench"></i>
        <div class="col-9 Itemname" id="Itemname">
            <div class="anchor" routerLink="/admin/manageProductSpecification">Manage product Specification</div>
        </div>
    </div>


    <div class="row d-flex justify-centent-center">
        <i class="col-2 fas fa-cogs"></i>
        <div class="col-9 Itemname" id="Itemname">
            <div class="anchor" routerLink="/admin/manageFilter">Manage Filters</div>
        </div>
    </div>

    <!-- <div class="row d-flex justify-centent-center">
        <i class="col-2 fas fa-filter"></i>
        <div class="col-9 Itemname" id="Itemname">
            <div class="anchor" routerLink="/admin/discount/add">Add Discount Code</div>
        </div>
    </div> -->
    <div class="row d-flex justify-centent-center">
        <i class="col-2 fas fa-cogs"></i>
        <div class="col-9 Itemname" id="Itemname">
            <div class="anchor" routerLink="/admin/discount/view">Manage Discount Codes</div>
        </div>
    </div>


    <div class="row d-flex justify-centent-center">
        <i class="col-2 fas fa-cart-arrow-down"></i>
        <div class="col-9 Itemname" id="Itemname">
            <div class="anchor" routerLink="/admin/manageorderstatus">Manage Order Status</div>
        </div>
    </div>


    
<!-- 
    <div class="row d-flex justify-centent-center">
        <i class="col-2 fas fa-filter"></i>
        <div class="col-9 Itemname" id="Itemname">
            <div class="anchor" routerLink="/admin/addFilter">Add Filters</div>
        </div>
    </div> -->


    <!-- <div class="row d-flex justify-centent-center">
        <i class="col-2 fas fa-home"></i>
        <div class="col-9 Itemname" id="Itemname">
            <div class="anchor" routerLink="/admin/productspecification">Add product Specification</div>
        </div>
    </div> -->

    <div class="row d-flex justify-centent-center">
        <i class="col-2 fas fa-wrench"></i>
        <div class="col-9 Itemname" id="Itemname">
            <div class="anchor" routerLink="/admin/order/view">Order View</div>
        </div>
    </div>

    <div class="row d-flex justify-centent-center">
        <i class="col-2 fas fa-shopping-cart"></i>
        <div class="col-9 Itemname" id="Itemname">
            <div class="anchor" routerLink="/admin/commission">Commission</div>
        </div>
    </div>


    <div class="row d-flex justify-centent-center">
        <i class="col-2 fas fa-shopping-cart"></i>
        <div class="col-9 Itemname" id="Itemname">
            <div class="anchor" routerLink="/admin/verifyDocuments">Verify Documents</div>
        </div>
    </div>


    <div class="row d-flex justify-centent-center">
        <i class="col-2 fas fa-mail-bulk"></i>
        <div class="col-9 Itemname" id="Itemname">
            <div class="anchor" routerLink="/admin/bulkrequest">Bulk Request</div>
        </div>
    </div>

    <!-- <div class="row d-flex justify-centent-center"> -->
    <!--     <i class="col-2 fas fa-mail-bulk"></i> -->
    <!--     <div class="col-9 Itemname" id="Itemname"> -->
    <!--         <div class="anchor" routerLink="/admin/bulkrequest">Bulk Request</div> -->
    <!--     </div> -->
    <!-- </div> -->
    <!-- <div class="row d-flex justify-centent-center">
        <i class="col-2 fas fa-shopping-cart"></i>
        <div class="col-9 Itemname" id="Itemname">
            <div class="anchor" routerLink="/admin/orderstatus">Add Order Status</div>
        </div>
    </div> -->
   


    <!-- <div class="row d-flex justify-centent-center"> -->
    <!--     <i class="col-2 far fa-comment"></i> -->
    <!--     <div class="col-9 Itemname" id="Itemname"> -->
    <!--         <div class="anchor" routerLink="/admin/review">Review</div> -->
    <!--     </div> -->
    <!-- </div> -->
    <!-- <div class="row d-flex justify-centent-center">
        <i class="col-2 fas fa-shopping-cart"></i>
        <div class="col-9 Itemname" id="Itemname">
            <div class="anchor" routerLink="/admin/brand/add">Add Brand</div>
        </div>
    </div> -->



  
  
    <div class="row d-flex justify-centent-center">
        <i class="col-2 fas fa-power-off"></i>
        <div class="col-9 Itemname" id="Itemname">
            <!-- <div class="anchor" routerLink="/admin/review">Review</div>
             -->
            <button class="btn btn-danger" (click)="logout()">
                <!-- <i class="col-2 fas fa-power-off"></i> -->
                Logout
            </button>
        </div>
    </div>

</div>

<div id="main">
    <button class="openbtn" id="hamburger" (click)="openNav()">&#9776;</button>

</div>
