<div class="row d-flex justify-content-center">
    <div class="col-8 formContainer">
            <div class="form-group">
                <h2 class="text-center heading">Commission</h2>
            </div>
            <div class="form-group">
                <label for="">Commission Value:</label>
                <input type="text" class="form-control" name="commissionVal" [(ngModel)]="commissionVal">
            </div>
            <div class="form-group d-flex justify-content-center">
                <button type="button" class="btn btn-primary col-4" (click)="setCommission()">Submit</button>
                <!-- <button type="submit" class="btn btn-primary">Reset</button> -->
            </div>
    </div>

</div>

