.loginheretext {
    color: white;
    font-size: 25px;
    font-weight: 700;
    border-radius: 15px;
    border: solid 1px #FFEFBA;
    margin: 3vh 0px;
    text-align: center;
    background-color: sandybrown;
}
.loginbtn {
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 25px;
    margin: 3vh 0px;
    padding: 1.5vh 10px;
    text-align: center;
    background-color: sandybrown;
    cursor: pointer;
}
.Forgotbtn {
    color: #69e3d7;
    font-size: 18px;
    border: solid 1px #69e3d7;
    font-weight: 300;
    border-radius: 25px;
    margin: 3vh 0px;
    padding: 1.5vh 10px;
    text-align: center;
    cursor: pointer;
}
.textinput {
    border-radius: 25px;
    outline: none;
    padding: 10px 25px;
    border: solid 2px sandybrown;
}
.hrtag {
    border: solid 2px sandybrown;
    width: 20px;
    border-radius: 10px;
}
