<div class="container-fluid backgroundcolorclass">
    <div class="row d-flex justify-content-center">
        <div class="col-11">
            <div class="row d-flex justify-content-lg-between justify-content-center">
                <div class="col-lg-6 col-12 sectionHeading">
                    <span class="headingGreenColor">REVIEWS</span> and <span class="headingGreenColor">RATINGS</span>
                </div>
                <div class="col-lg-6 col-11 text-right">
                    <div class="row d-flex justify-content-lg-end justify-content-center">
                        <div class="col-lg-4 col-11">
                            <div class="viewAllBtn">View All</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-11 ratingscardContainer">
            <div class="CardContainerHeading">
                Verified <span class="headingGreenColor">Buyers</span>
            </div>
            <!-- <div class="row"> -->
            <div class="cardslidercontainer" id="cardslidercontainer">
                <div class="ReviewCardsContainer" id="ReviewCardsContainer">
                    <div class="reviewcard" id="cards">
                        <div class="row d-flex justify-content-center">
                            <div class="col-11">
                                <div class="row my-3">
                                    <div class="col-2 ml-2 d-flex justify-content-center">
                                        <img src="../../../assets/Mask_Group_2.png" class="reviewCardImage" alt=""
                                            srcset="">
                                    </div>
                                    <div class="col-9">
                                        <div class="row">
                                            <div class="col-12 reviewcardGreenColor text-left">harshad mehta</div>
                                            <div class="col-12 text-left" style="color: grey;font-size: 14px;">From
                                                Mumbai</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 ReviewContent">
                                        Great Service
                                    </div>
                                    <div class="col-12 starContainer">
                                        <i class="fas fa-star starActive"></i>
                                        <i class="fas fa-star starActive"></i>
                                        <i class="fas fa-star starActive"></i>
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin: 0px;padding: 0px;">
                            <div class="col-12 reviewcardlowergreenSection">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-11">
                                        <div class="reviewCardlowersectiontext text-left">
                                            Swati Industrial Sewing Machine
                                        </div>
                                    </div>
                                    <div class="col-11">
                                        <div class="whiteText text-left">
                                            Mumbai,India
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewcard" id="cards">
                        <div class="row d-flex justify-content-center">
                            <div class="col-11">
                                <div class="row my-3">
                                    <div class="col-2 ml-2 d-flex justify-content-center">
                                        <img src="../../../assets/Mask_Group_2.png" class="reviewCardImage" alt=""
                                            srcset="">
                                    </div>
                                    <div class="col-9">
                                        <div class="row">
                                            <div class="col-12 reviewcardGreenColor text-left">Bhushan kumar</div>
                                            <div class="col-12 text-left" style="color: grey;font-size: 14px;">From
                                                Mumbai</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 ReviewContent">
                                        Great Service
                                    </div>
                                    <div class="col-12 starContainer">
                                        <i class="fas fa-star starActive"></i>
                                        <i class="fas fa-star starActive"></i>
                                        <i class="fas fa-star starActive"></i>
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin: 0px;padding: 0px;">
                            <div class="col-12 reviewcardlowergreenSection">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-11">
                                        <div class="reviewCardlowersectiontext text-left">
                                            Swati Industrial Sewing Machine
                                        </div>
                                    </div>
                                    <div class="col-11">
                                        <div class="whiteText text-left">
                                            Mumbai,India
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewcard" id="cards">
                        <div class="row d-flex justify-content-center">
                            <div class="col-11">
                                <div class="row my-3">
                                    <div class="col-2 ml-2 d-flex justify-content-center">
                                        <img src="../../../assets/Mask_Group_2.png" class="reviewCardImage" alt=""
                                            srcset="">
                                    </div>
                                    <div class="col-9">
                                        <div class="row">
                                            <div class="col-12 reviewcardGreenColor text-left">Poonam Rane</div>
                                            <div class="col-12 text-left" style="color: grey;font-size: 14px;">From
                                                Mumbai</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 ReviewContent">
                                        Great Servive
                                    </div>
                                    <div class="col-12 starContainer">
                                        <i class="fas fa-star starActive"></i>
                                        <i class="fas fa-star starActive"></i>
                                        <i class="fas fa-star starActive"></i>
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin: 0px;padding: 0px;">
                            <div class="col-12 reviewcardlowergreenSection">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-11">
                                        <div class="reviewCardlowersectiontext text-left">
                                            Swati Industrial Sewing Machine
                                        </div>
                                    </div>
                                    <div class="col-11">
                                        <div class="whiteText text-left">
                                            Mumbai,India
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviewcard" id="cards">
                        <div class="row d-flex justify-content-center">
                            <div class="col-11">
                                <div class="row my-3">
                                    <div class="col-2 ml-2 d-flex justify-content-center">
                                        <img src="../../../assets/Mask_Group_2.png" class="reviewCardImage" alt=""
                                            srcset="">
                                    </div>
                                    <div class="col-9">
                                        <div class="row">
                                            <div class="col-12 reviewcardGreenColor text-left">Poonam Rane</div>
                                            <div class="col-12 text-left" style="color: grey;font-size: 14px;">From
                                                Mumbai</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 ReviewContent">
                                        Great Servive
                                    </div>
                                    <div class="col-12 starContainer">
                                        <i class="fas fa-star starActive"></i>
                                        <i class="fas fa-star starActive"></i>
                                        <i class="fas fa-star starActive"></i>
                                        <i class="fas fa-star star"></i>
                                        <i class="fas fa-star star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin: 0px;padding: 0px;">
                            <div class="col-12 reviewcardlowergreenSection">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-11">
                                        <div class="reviewCardlowersectiontext text-left">
                                            Swati Industrial Sewing Machine
                                        </div>
                                    </div>
                                    <div class="col-11">
                                        <div class="whiteText text-left">
                                            Mumbai,India
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>







        <div class="col-lg-9 col-11 ratingscardContainer">
            <div class="CardContainerHeading">
                Trusted <span class="headingGreenColor">Sellers</span>
            </div>
            <!-- <div class="row"> -->
            <div class="cardslidercontainer" id="cardslidercontainer">
                <div class="ReviewCardsContainer" id="ReviewCardsContainer">
                    <div class="reviewcard" id="cards">
                        <div class="row d-flex justify-content-center">

                            <div class="col-11">
                                <div class="row my-lg-3 mt-2">
                                    <div class="col-2 ml-2 d-flex justify-content-center">
                                        <img src="../../../assets/Mask_Group_2.png" class="reviewCardImage" alt=""
                                            srcset="">
                                    </div>
                                    <div class="col-lg-5 col-9">
                                        <div class="row">
                                            <div class="col-12 reviewcardGreenColor text-left">Ankush kumar</div>
                                            <div class="col-12 text-left" style="color: grey;font-size: 14px;">
                                                From
                                                Mumbai</div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-lg-4 my-2 col-10 d-flex justify-content-lg-start justify-content-center ">
                                        <div class="starContainerSellers">
                                            <i class="fas fa-star starActive"></i>
                                            <i class="fas fa-star starActive"></i>
                                            <i class="fas fa-star starActive"></i>
                                            <i class="fas fa-star star"></i>
                                            <i class="fas fa-star star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- <div class="col-12 sellerReviewContent">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ad magni ab
                                        recusandae, ex repellat!...
                                    </div> -->

                                </div>
                            </div>


                        </div>

                        <div class="row" style="margin: 0px;padding: 0px;">
                            <div class="col-12 sellercardlowergreenSection">
                                <div class="row d-flex justify-content-around">
                                    <div class="col-5 contactBtn">
                                        Contact
                                    </div>
                                    <div class="col-5 enquiryBtn">
                                        Send enquiry
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="reviewcard" id="cards">
                        <div class="row d-flex justify-content-center">

                            <div class="col-11">
                                <div class="row my-lg-3 mt-2">
                                    <div class="col-2 ml-2 d-flex justify-content-center">
                                        <img src="../../../assets/Mask_Group_2.png" class="reviewCardImage" alt=""
                                            srcset="">
                                    </div>
                                    <div class="col-lg-5 col-9">
                                        <div class="row">
                                            <div class="col-12 reviewcardGreenColor text-left">divendar singh</div>
                                            <div class="col-12 text-left" style="color: grey;font-size: 14px;">
                                                From
                                                Mumbai</div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-lg-4 my-2 col-10 d-flex justify-content-lg-start justify-content-center ">
                                        <div class="starContainerSellers">
                                            <i class="fas fa-star starActive"></i>
                                            <i class="fas fa-star starActive"></i>
                                            <i class="fas fa-star starActive"></i>
                                            <i class="fas fa-star star"></i>
                                            <i class="fas fa-star star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- <div class="col-12 sellerReviewContent">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ad magni ab
                                        recusandae, ex repellat!...
                                    </div> -->

                                </div>
                            </div>


                        </div>

                        <div class="row" style="margin: 0px;padding: 0px;">
                            <div class="col-12 sellercardlowergreenSection">
                                <div class="row d-flex justify-content-around">
                                    <div class="col-5 contactBtn">
                                        Contact
                                    </div>
                                    <div class="col-5 enquiryBtn">
                                        Send enquiry
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="reviewcard" id="cards">
                        <div class="row d-flex justify-content-center">

                            <div class="col-11">
                                <div class="row my-lg-3 mt-2">
                                    <div class="col-2 ml-2 d-flex justify-content-center">
                                        <img src="../../../assets/Mask_Group_2.png" class="reviewCardImage" alt=""
                                            srcset="">
                                    </div>
                                    <div class="col-lg-5 col-9">
                                        <div class="row">
                                            <div class="col-12 reviewcardGreenColor text-left">Poonam Rane</div>
                                            <div class="col-12 text-left" style="color: grey;font-size: 14px;">
                                                From
                                                Mumbai</div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-lg-4 my-2 col-10 d-flex justify-content-lg-start justify-content-center ">
                                        <div class="starContainerSellers">
                                            <i class="fas fa-star starActive"></i>
                                            <i class="fas fa-star starActive"></i>
                                            <i class="fas fa-star starActive"></i>
                                            <i class="fas fa-star star"></i>
                                            <i class="fas fa-star star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 sellerReviewContent">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ad magni ab
                                        recusandae, ex repellat!...
                                    </div>

                                </div>
                            </div>


                        </div>

                        <div class="row" style="margin: 0px;padding: 0px;">
                            <div class="col-12 sellercardlowergreenSection">
                                <div class="row d-flex justify-content-around">
                                    <div class="col-5 contactBtn">
                                        Contact
                                    </div>
                                    <div class="col-5 enquiryBtn">
                                        Send enquiry
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>





                    <div class="reviewcard" id="cards">
                        <div class="row d-flex justify-content-center">

                            <div class="col-11">
                                <div class="row my-lg-3 mt-2">
                                    <div class="col-2 ml-2 d-flex justify-content-center">
                                        <img src="../../../assets/Mask_Group_2.png" class="reviewCardImage" alt=""
                                            srcset="">
                                    </div>
                                    <div class="col-lg-5 col-9">
                                        <div class="row">
                                            <div class="col-12 reviewcardGreenColor text-left">Poonam Rane</div>
                                            <div class="col-12 text-left" style="color: grey;font-size: 14px;">
                                                From
                                                Mumbai</div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-lg-4 my-2 col-10 d-flex justify-content-lg-start justify-content-center ">
                                        <div class="starContainerSellers">
                                            <i class="fas fa-star starActive"></i>
                                            <i class="fas fa-star starActive"></i>
                                            <i class="fas fa-star starActive"></i>
                                            <i class="fas fa-star star"></i>
                                            <i class="fas fa-star star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 sellerReviewContent">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ad magni ab
                                        recusandae, ex repellat!...
                                    </div>

                                </div>
                            </div>


                        </div>

                        <div class="row" style="margin: 0px;padding: 0px;">
                            <div class="col-12 sellercardlowergreenSection">
                                <div class="row d-flex justify-content-around">
                                    <div class="col-5 contactBtn">
                                        Contact
                                    </div>
                                    <div class="col-5 enquiryBtn">
                                        Send enquiry
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>