<div class="row">
    <div class="col-12">
        <div class="main">
            <ul class="cards">
                <li class="cards_item">
                    <div class="card">
                        <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div>
                        <div class="card_content">
                            <h2 class="card_title">Lorem, ipsum dolor.</h2>
                            <p class="card_text">Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem,
                                ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum
                                dolor.
                            </p>
                            <button class="btn card_btn">Read More</button>
                        </div>
                    </div>
                </li>
                <li class="cards_item">
                    <div class="card">
                        <div class="card_image"><img src="https://picsum.photos/500/300/?image=5"></div>
                        <div class="card_content">
                            <h2 class="card_title">Lorem, ipsum dolor.</h2>
                            <p class="card_text">Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem,
                                ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum
                                dolor.
                            </p>
                            <button class="btn card_btn">Read More</button>
                        </div>
                    </div>
                </li>
                <li class="cards_item">
                    <div class="card">
                        <div class="card_image"><img src="https://picsum.photos/500/300/?image=11"></div>
                        <div class="card_content">
                            <h2 class="card_title">Lorem, ipsum dolor.</h2>
                            <p class="card_text">Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem,
                                ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum
                                dolor.
                            </p>
                            <button class="btn card_btn">Read More</button>
                        </div>
                    </div>
                </li>
                <li class="cards_item">
                    <div class="card">
                        <div class="card_image"><img src="https://picsum.photos/500/300/?image=14"></div>
                        <div class="card_content">
                            <h2 class="card_title">Lorem, ipsum dolor.</h2>
                            <p class="card_text">Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem,
                                ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum
                                dolor.
                            </p>
                            <button class="btn card_btn">Read More</button>
                        </div>
                    </div>
                </li>
                <li class="cards_item">
                    <div class="card">
                        <div class="card_image"><img src="https://picsum.photos/500/300/?image=17"></div>
                        <div class="card_content">
                            <h2 class="card_title">Lorem, ipsum dolor.</h2>
                            <p class="card_text">Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem,
                                ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum
                                dolor.
                            </p>
                            <button class="btn card_btn">Read More</button>
                        </div>
                    </div>
                </li>
                <li class="cards_item">
                    <div class="card">
                        <div class="card_image"><img src="https://picsum.photos/500/300/?image=2"></div>
                        <div class="card_content">
                            <h2 class="card_title">Lorem, ipsum dolor.</h2>
                            <p class="card_text">Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem,
                                ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum
                                dolor.
                            </p>
                            <button class="btn card_btn">Read More</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


    </div>
</div>
