<div class="container-fluid backgroundColor">
    <app-headernavlinks></app-headernavlinks>
    <div class="row">

        <div class="col-lg-12 col-12">
            <div class="row d-flex justify-content-center">
                <div class="col-9 pageHeading">ALL TYPES MENSWEAR</div>
            </div>
            <div class="row">
                <div class="cardContainer mb-5">
                    <div class="card" routerLink="/productdetails">
                        <img src="../../../assets/Mask_Group_2.png" class="cardImage" alt="">
                        <div class="cardProductName">
                            Jeans
                        </div>
                        <div class="cardproduct">
                            Fabric
                        </div>
                        <div class="cardproductcategory">
                            Sold/Popularity
                        </div>
                    </div>



                    <div class="card" routerLink="/productdetails">
                        <img src="../../../assets/Mask_Group_2.png" class="cardImage" alt="">
                        <div class="cardProductName">
                            Jeans
                        </div>
                        <div class="cardproduct">
                            Fabric
                        </div>
                        <div class="cardproductcategory">
                            Sold/Popularity
                        </div>
                    </div>


                    <div class="card" routerLink="/productdetails">
                        <img src="../../../assets/Mask_Group_2.png" class="cardImage" alt="">
                        <div class="cardProductName">
                            Jeans
                        </div>
                        <div class="cardproduct">
                            Fabric
                        </div>
                        <div class="cardproductcategory">
                            Sold/Popularity
                        </div>
                    </div>



                    <div class="card" routerLink="/productdetails">
                        <img src="../../../assets/Mask_Group_2.png" class="cardImage" alt="">
                        <div class="cardProductName">
                            Jeans
                        </div>
                        <div class="cardproduct">
                            Fabric
                        </div>
                        <div class="cardproductcategory">
                            Sold/Popularity
                        </div>
                    </div>




                    <div class="card" routerLink="/productdetails">
                        <img src="../../../assets/Mask_Group_2.png" class="cardImage" alt="">
                        <div class="cardProductName">
                            Jeans
                        </div>
                        <div class="cardproduct">
                            Fabric
                        </div>
                        <div class="cardproductcategory">
                            Sold/Popularity
                        </div>
                    </div>




                    <div class="card" routerLink="/productdetails">
                        <img src="../../../assets/Mask_Group_2.png" class="cardImage" alt="">
                        <div class="cardProductName">
                            Jeans
                        </div>
                        <div class="cardproduct">
                            Fabric
                        </div>
                        <div class="cardproductcategory">
                            Sold/Popularity
                        </div>
                    </div>


                    <div class="card" routerLink="/productdetails">
                        <img src="../../../assets/Mask_Group_2.png" class="cardImage" alt="">
                        <div class="cardProductName">
                            Jeans
                        </div>
                        <div class="cardproduct">
                            Fabric
                        </div>
                        <div class="cardproductcategory">
                            Sold/Popularity
                        </div>
                    </div>





                    <div class="card" routerLink="/productdetails">
                        <img src="../../../assets/Mask_Group_2.png" class="cardImage" alt="">
                        <div class="cardProductName">
                            Jeans
                        </div>
                        <div class="cardproduct">
                            Fabric
                        </div>
                        <div class="cardproductcategory">
                            Sold/Popularity
                        </div>
                    </div>




                    <div class="card" routerLink="/productdetails">
                        <img src="../../../assets/Mask_Group_2.png" class="cardImage" alt="">
                        <div class="cardProductName">
                            Jeans
                        </div>
                        <div class="cardproduct">
                            Fabric
                        </div>
                        <div class="cardproductcategory">
                            Sold/Popularity
                        </div>
                    </div>




                    <div class="card" routerLink="/productdetails">
                        <img src="../../../assets/Mask_Group_2.png" class="cardImage" alt="">
                        <div class="cardProductName">
                            Jeans
                        </div>
                        <div class="cardproduct">
                            Fabric
                        </div>
                        <div class="cardproductcategory">
                            Sold/Popularity
                        </div>
                    </div>




                    <div class="card" routerLink="/productdetails">
                        <img src="../../../assets/Mask_Group_2.png" class="cardImage" alt="">
                        <div class="cardProductName">
                            Jeans
                        </div>
                        <div class="cardproduct">
                            Fabric
                        </div>
                        <div class="cardproductcategory">
                            Sold/Popularity
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>