.SignInText {
    color: white;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}
.AddListingBtn {
    color: white;
    border: solid 2px #11bfae;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}
